.v-popper__popper.no-overflow {
  .v-popper__wrapper,
  .v-popper__inner {
    overflow: visible;
  }
}

/* Tooltip */

.v-popper__popper.v-popper--theme-tooltip {
  z-index: 99999999999;

  .v-popper__inner {
    @apply bg-gray-100 text-black border border-gray-200 shadow-lg;
  }
  
  .v-popper__arrow-inner {
    @apply border-gray-100 visible;
  }
  
  .v-popper__arrow-outer {
    @apply border-gray-200;
  }

  .dark & {
    .v-popper__inner {
      @apply bg-gray-800 text-white border-gray-700;
    }
  
    .v-popper__arrow-inner {
      @apply border-gray-800;
    }
  
    .v-popper__arrow-outer {
      @apply border-gray-700;
    }
  }
}

/* Dropdown */

.dark .v-popper__popper.v-popper--theme-dropdown {
  .v-popper__inner {
    @apply bg-gray-900 text-white border-gray-800;
  }

  .v-popper__arrow-inner {
    @apply border-gray-900;
  }

  .v-popper__arrow-outer {
    @apply border-gray-800;
  }
}


/* Prevent scrollbar on body */

body {
  overflow: hidden;
}
